@font-face {
    font-family: 'Porshe';
    font-display: swap;
    src: local(Porshe),
        url(/Users/dima/MIPT/WORK/font/Porsche\ Regular_0.ttf),
        url(/Users/dima/MIPT/WORK/font/Porsche-Regular_0.woff);
}

* {
    font-family: 'Porshe';
    font-display: swap;
    src: local(Porshe),
        url(/Users/dima/MIPT/WORK/font/Porsche\ Regular_0.ttf),
        url(/Users/dima/MIPT/WORK/font/Porsche-Regular_0.woff);
    padding: 0;
    margin: 0;
    color: #ffffff;
}

footer li, footer a, footer p{
   font-family: "Poiret One", sans-serif;
   font-weight: 400;
   font-style: normal;
 }

.spline {
    position: relative;
    width: 100%;
    height: 839px;
    overflow: hidden;
    background-image: url(/Users/dima/MIPT/WORK/images/spline.png);
}

.spline .text {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    width: 1356px;
    height: 81px;
    left: 64px;
    top: 676px;
}

.spline .text h1 {
    margin-left: 164px;
    font-size: 72px;
    font-weight: 400;
    line-height: 81px;
    width: 458px;
    height: 81px;
    text-align: right;
    align-self: center;
}

.spline .text h2 {

    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    width: 734px;
    height: 54px;
    align-self: center;
}

.prev_video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 294px;
    background-image: url(/Users/dima/MIPT/WORK/images/Rectangle10.png);
}

.prev_video .button {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #ffffff;
}

.prev_video .button::after {
    position: absolute;
    top: 43%;
    left: 45%;
    bottom: 0;
    height: 0;
    width: 0;
    border: 13px solid transparent;
    border-bottom-color:#930909;
    transform: rotate(90deg);
    content: "";
}

.prev_video .button:hover::after {
    border-bottom-color: #ffffff;
}

.prev_video .button:hover {
    background-color: #202120;
}

.prev_video .button:active::after {
    border-bottom-color: #ffffff;
}

.prev_video .button:active {
    background-color: #191919;
}

.offers {
    position: relative;
    width: 100%;
    height: 1920px;
    background-color: #202120;
}

.offers .button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.25);
}

.offers .pr {
    top: 0;
    left: 0;
    border-left: none;
    border-top: none;
}

.offers .smm {
    top: 50%;
    left: 50%;
    border-right: none;
}

.offers .wb {
    top: 50%;
    left: 0;
    border-left: none;
}

.offers .production {

    top: 0;
    left: 50%;
    border-top: none;
    border-right: none;
}

.vert_line {
    display: none;
    position: absolute;
    height: 86.7%;
    width: 1px;
    border-left: 0.5px solid rgba(255, 255, 255, 0.25);
}

.hor_line {
    display: none;
    position: absolute;
    width: 86.7%;
    height: 1px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

.dot {
    position: absolute;
    top: 92.5%;
    left: 92.5%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
}

.number {
    position: absolute;
    top: 6.66%;
    left: 6.66%;
    width: 31px;
    height: 14px;
}

.button h3 {
    display: none;
    position: absolute;
    font-size: 14px;
    top: 92.4%;
    left: 69.6%;
}

.button .name {
    border: 40px solid #202120;
    background-color: #202120;
    z-index: 1;
}

.offers .button:hover {
    background-color: #191919;
}

.offers .button:hover .name {
    border-color: #191919;
}

.offers .button:hover .vert_line {
    display: block;
}

.offers .button:hover .hor_line {
    display: block;
}

.offers .button:hover h3 {
    display: block;
}

.offers .button:active .vert_line {
    display: block;
}

.offers .button:active .hor_line {
    display: block;
}

.offers .button:active h3 {
    display: block;
}

.offers .button:active {
    background-color: #0f0f0f;
}

.offers .button:active .name {
    border-color: #0f0f0f;
}

.third {
  border-top: 0.5px solid rgba(255, 255, 255,0.25);
  background-color: #202120;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.third spline-viewer{
  width: 100%;
  height: 1000px;
  margin-top: -40%;
}

button {
  background-color: #202120;
  border: 0;
  height: 498px;
}

button a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sign {
  display: none;
  position: absolute;
  align-self: center;
  top: 390px;
  font-size: 24px;
  z-index: 2;
}

.sign img {
  position: absolute;
  margin-top: -10px;
  right: 46.5%;
  width: 40px;
  height: 40px;
}

button:hover .sign {
  display: block;
}

.fourth {
  position: relative;
  width: 100%;
  height: 1846px;
  display: flex;
  justify-content: center;
  background-color: #202120;
  overflow: hidden;
}

.fourth img {
  left:-1px;
  width: 2000px;
  height: 2200px;
}

.images {
  position: absolute;
  top: 710px;
  z-index: 1;
}

.blik {
  position: absolute;
  top: 710px;
  z-index: 2;
}

.images img {
  width: 880px;
  height: 880px;
}

.blik img{
  width: 880px;
  height: 880px;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  background: #060606;
  width: 100%;
  height: 300px;
}

.line {
  position: absolute;
  bottom: 255px;
  margin-top: 100px;
  width: 93%;
  height: 1px;
  border-bottom: 0.5px solid rgba(255, 255, 255,0.25);
}

.icon {
  position: absolute;
  height: 78px;
  bottom: 127px;
  left: 66px;
}

footer p {
  position: absolute;
  bottom: 32px;
  left: 3.4%;
  font-size: 18px;
  color: rgba(255, 255, 255,0.4);
}

.information {
  position: absolute;
  left: 26.8%;
  bottom: 127px;
  width: 570px;
}

.menu {
  position: absolute;
  left: 74.2%;
  bottom: 127px;
  width: 110px;
}

.media {
  position: absolute;
  left: 86.5%;
  bottom: 150px;
  width: 110px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  font-size: 18px;
  color: #fff;
  list-style: none;
  margin-bottom: 10px;
  line-height: 11.25px;
}

@media only screen and (max-width: 1024px)  {
    .spline {
        background-image: url(/Users/dima/MIPT/WORK/images_375/image-2.png);
        width: 100%;
        height: 814px;
        /* border-bottom: 214px solid rgba(155, 155, 0, 0.25); */
    }

    .spline .text {
        flex-direction: column;
        position: absolute;
        width: 91.4%;
        height: 56px;
        left: 16px;
        top: 625px;
        z-index: 1;
    }

    .spline .text h1 {
        margin-left: 16px;
        font-size: 50px;
        line-height: 56.35px;
        width: 91.4%;
        height: 56px;
        text-align: right;
        align-self: center;
    }

    .spline .text h2 {
        font-size: 12px;
        font-weight: 400;
        line-height: 13.5px;
        width: 91.4%;
        height: 28px;
        text-align: right;
        align-self: right;
    }

    .prev_video {
        background-image: url(/Users/dima/MIPT/WORK/images_375/Rectangle\ 10-2.svg);
        height: 200px;
    }
    .prev_video .button {
        width: 120px;
        height: 120px;
    }

    .offers {
        height: 1500px;
    }

    .offers .button {
        width: 100%;
        height: 25%;
    }

    .offers .pr {
    top: 0;
    left: 0;
    }

    .offers .smm {
        top: 75%;
        left: 0;
    }

    .offers .wb {
        top: 50%;
        left: 0;
    }

    .offers .production {
        top: 25%;
        left: 0;
    }

    .offers .button .name {
        font-size: 20px;
        line-height: 22.5px;
        text-align: center;
    }
    .offers .button .number {
        font-size: 12px;
        line-height: 13.5px;
    }
    .offers .button .dot {
        width: 3.13px;
        height: 3.13px;
    }
    .offers .button h3 {
        left: 48.8%;
        font-size: 12px;
        line-height: 13.5px;
    }

    .third spline-viewer {
        height: 738px;
        margin-top: -90px;
    }

    .fourth {
        width: 100%;
        height: 800px;
        top: 0px;
        display: flex;
        justify-content: center;
        background-color: #202120;
        overflow: hidden;
        /* background-image: url(/Users/dima/MIPT/WORK/images_375/bg.svg); */
    }

    .fourth img {
        /* top: -600px; */
        left:-1px;
        width: 1254px;
        height: 830px;
    }

    .images {
        position: absolute;
        top: 251px;
        z-index: 1;
    }

    .blik {
        position: absolute;
        top: 251px;
        z-index: 2;
    }

    .images img {
        width: 360px;
        height: 360px;
    }

    .blik img{
        width: 360px;
        height: 360px;
    }

    footer {
        flex-direction: column;
        width: 100%;
        height: 521px;
    }

    .line {
        bottom: 258px;
        margin-top: 151px;
        left: 16px;
        width: 92%;
        height: 110px;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
        border-top: 0.5px solid rgba(255, 255, 255, 0.25);
    }

    .icon {
        height: 61.87px;
        width: 150px;
        top: 34px;
        left: 17.5px;
    }

    .information {
        left: 4.2%;
        bottom: 112px;
        width: 91.5%;
    }
    .menu {
        left: 4.6%;
        top: 0;
        bottom: 150px;
        width: 91.3%;
    }
    .menu .about_us{
        position: absolute;
        text-align: left;
        height: 21px;
        top: 180px;
        left: 0;
    }

    .menu .service{
        position: absolute;
        text-align: left;
        height: 21px;
        top: 220px;
        left: 0;
    }

    .menu .contacts {
        position: absolute;
        text-align: right;
        height: 21px;
        /* width: 15%; */
        top: 220px;
        /* left: 77%; */
        right: 2%;

    }

    .menu .projects{
        position: absolute;
        text-align: right;
        height: 21px;
        /* width: 15%; */
        top: 180px;
        /* left: 77%; */
        right: 2%;
    }

    .media {
        left: 63.8%;
        bottom: 404px;
        width: 31.5%;
    }

    .media li{
        text-align: right;
    }
}
